/shopping-cart-application/bank-client/target/
/shopping-cart-application/model/target/
/shopping-cart-application/dao/target/
/shopping-cart-application/service/target/
/shopping-cart-application/web/target/
/shopping-cart-application/target/
